bin
obj
packages
logs

Infrastructure/Configuration/DeploymentConfigs/JobScheduler/*.config
Infrastructure/Configuration/DeploymentConfigs/WebHost/*.config
Infrastructure/Configuration/DeploymentConfigs/DBDeploy/*.config

.suo
.vs
*.user

*.dbmdl
*.dbmdl

IAN.Api.WebHost/Web.config
Api.WebHost/Web.config

StyleCopViolations.xslt
StyleCopReport.xml
StyleCop.Cache

*.orig

AppSettings.Local.config

Infrastructure/IAN.Deploy/DSCConfiguration/MOF/NY-DEV-1131.mof
